<footer>
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__column">
                Присоединяйтесь!
                <a class="footer__social-icon footer__social-icon--vk" href="#">Вконтакте</a>
                <a class="footer__social-icon footer__social-icon--in" href="#">Инстаграм</a>
                <a class="footer__social-icon footer__social-icon--fb" href="#">Фейсбук</a>
                <a class="footer__social-icon footer__social-icon--ok" href="#">Одноклассники</a>
            </div>
            <div class="footer__column">
                <span>Дизайн сайта &copy; Александрина Анна</span>
            </div>
        </div>
    </div>
</footer>
