<header>
        <div class="header-top">
            <div class="wrapper">
                <div class="header-content">
                    <div class="header-top__column header-top__title">Лучшие фильмы для Вашей души!</div>
                    <div class="header-top__column">
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}" class="header-top__link">Войти</a>
                        <a href="{{ url_for('register') }}" class="header-top__link">Регистрация</a>
                        {% else %}
                        <a href="{{ url_for('logout') }}" class="header-top__link">Выйти</a>
                        <a href="{{ url_for('user', username=current_user.username) }}" class="header-top__link">Профиль</a>
                        {% endif %}
                        <a href="#" class="header-top__link">Рекомендации</a>
                        <a href="#" class="header-top__link">О нас</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="wrapper">
                <div class="header-content">
                    {% for i in range(0, tags_count, 3) %}
                    <div class="header-middle__column">
                        {% for tag in tags[i:i+3] %}
                        <a class="header-middle__link" href="#">{{ tag.title }}</a><br>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="wrapper">
                <div class="header-content">
                    {% for category in categories %}
                    <a class="header-bottom__link" href="#">{{ category.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
