<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
    {% include '_head_scripts.html' %}
    {% include '_head_styles.html' %}
<body>
    {% include '_header.html' %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <section class="flash-messages">
        <div class="wrapper">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    {% include '_footer.html' %}
    {% include '_footer_scripts.html' %}
</body>
</html>