<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<body>
    <header>
        <div class="header-top">
            <div class="wrapper">
                <div class="header-content">
                    <div class="header-top__column header-top__title">Лучшие фильмы для Вашей души!</div>
                    <div class="header-top__column">
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('login') }}" class="header-top__link">Войти</a>
                        <a href="{{ url_for('register') }}" class="header-top__link">Регистрация</a>
                        {% else %}
                        <a href="{{ url_for('logout') }}" class="header-top__link">Выйти</a>
                        <a href="{{ url_for('user', username=current_user.username) }}" class="header-top__link">Профиль</a>
                        {% endif %}
                        <a href="#" class="header-top__link">Рекомендации</a>
                        <a href="#" class="header-top__link">О нас</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle">
            <div class="wrapper">
                <div class="header-content">
                    <div class="header-middle__column">
                        <a class="header-middle__link" href="#">Личн. рост и внутр. сила</a><br>
                        <a class="header-middle__link" href="#">О героях и личностях</a><br>
                        <a class="header-middle__link" href="#">Жизненная помощь</a>
                    </div>
                    <div class="header-middle__column">
                        <a class="header-middle__link" href="#">приключения</a><br>
                        <a class="header-middle__link" href="#">комедии</a><br>
                        <a class="header-middle__link" href="#">фантастика</a>
                    </div>
                    <div class="header-middle__column">
                        <a class="header-middle__link" href="#">мелодрамы</a><br>
                        <a class="header-middle__link" href="#">фэнтези</a><br>
                        <a class="header-middle__link" href="#">биография</a>
                    </div>
                    <div class="header-middle__column">
                        <a class="header-middle__link" href="#">мистика</a><br>
                        <a class="header-middle__link" href="#">драма</a><br>
                        <a class="header-middle__link" href="#">спорт</a>
                    </div>
                    <div class="header-middle__column">
                        <a class="header-middle__link" href="#">военные</a><br>
                        <a class="header-middle__link" href="#">детектив</a><br>
                        <a class="header-middle__link" href="#">боевики</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="wrapper">
                <div class="header-content">
                    <a class="header-bottom__link" href="#">Вечер с любимыми</a>
                    <a class="header-bottom__link" href="#">Семейный</a>
                    <a class="header-bottom__link" href="#">С друзьями</a>
                    <a class="header-bottom__link" href="#">Детям</a>
                    <a class="header-bottom__link" href="#">Подборки</a>
                </div>
            </div>
        </div>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <section class="flash-messages">
        <div class="wrapper">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <footer>
        <div class="wrapper">
            <div class="footer__container">
                <div class="footer__column">
                    Присоединяйтесь!
                    <a class="footer__social-icon footer__social-icon--vk" href="#">Вконтакте</a>
                    <a class="footer__social-icon footer__social-icon--in" href="#">Инстаграм</a>
                    <a class="footer__social-icon footer__social-icon--fb" href="#">Фейсбук</a>
                    <a class="footer__social-icon footer__social-icon--ok" href="#">Одноклассники</a>
                </div>
                <div class="footer__column">
                    <span>Дизайн сайта &copy; Александрина Анна</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>