{% extends "base.html" %}

{% block content %}
    {% if main_slider %}
        <section class="main-banner">
            <div class="wrapper">
                <div>Главный баннер</div>
            </div>
        </section>
    {% endif %}
    <section class="content">
        <div class="wrapper">
            {% if categories %}
            <div class="catalog">
            {% for category in categories %}
                <div class="catalog__item">
                    <img src="{{ category.image }}" alt="{{ category.title }}" class="catalog__item-image">
                    <div class="catalog__item-info">
                        <div class="catalog__item-title" style="{{ category.get_title_style() }}">{{ category.title }}</div>
                        <div class="catalog__item-about">{{ category.description }}</div>
                        <a href="{{ url_for('index') }}" class="catalog__item-link">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}