{% extends "base.html" %}

{% block content %}
    {% if main_slider %}
    <section id="main-banner">
        <div class="wrapper">
            <div class="main-banner__slides">
                <div class="main-banner__control main-banner__control--prev"></div>
                <div class="main-banner__control main-banner__control--next"></div>
                {% for slide in main_slider.slides %}
                    {% if loop.index == 1 %}
                    <div class="main-banner__slide main-banner__slide--current" data-slide="{{ loop.index }}"><img src="{{ slide.image }}" alt=""></div>
                    {% else %}
                    <div class="main-banner__slide" data-slide="{{ loop.index }}"><img src="{{ slide.image }}" alt=""></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="main-banner__pagination">
                {% for slide in main_slider.slides %}
                    {% if loop.index == 1 %}
                    <div class="main-banner__page main-banner__page--current" data-slide="{{ loop.index }}"></div>
                    {% else %}
                    <div class="main-banner__page" data-slide="{{ loop.index }}"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <section class="content">
        <div class="wrapper">
            {% if categories %}
            <div class="catalog">
            {% for category in categories %}
                <div class="catalog__item">
                    <img src="{{ category.image }}" alt="{{ category.title }}" class="catalog__item-image">
                    <div class="catalog__item-info">
                        <div class="catalog__item-title" style="{{ category.get_title_style() }}">{{ category.title }}</div>
                        <div class="catalog__item-about">{{ category.description }}</div>
                        <a href="{{ url_for('index') }}" class="catalog__item-link">Подробнее</a>
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}